<!-- This is a template page based on Django Template Language (DTL) -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head>
	<!-- The first block, named 'title' -->
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<h1>My helpful timestamp site</h1>
	<!-- The second block, named 'content' -->
	{% block content %}{% endblock %}

	<!-- The third block, named 'footer', with default content -->
	{% block footer %}
	<hr>
	<p>Thanks for visiting my site.</p>
	{% endblock %}
</body>
</html>