<!-- This is a template page based on Django Template Language (DTL) -->
{% extends 'base.html' %}

<!-- Override block named 'title' in parent template -->
{% block title %}Contact Form{% endblock %}

{% block heading %}
<h1>Contact Us</h1>
{% endblock %}

<!-- Override block named 'content' in parent template -->
{% block content %}
	{% if form.errors %}
		<p style="color: red;">Error{{ form.errors|pluralize }} occurred.</p>
	{% endif %}

	<form action="" method="POST">
		<table>
			<div>
				<!-- below is the same as an empty string if no errors, otherwise <ul class="errorlist"><li>xxxx</li></ul> -->
				<!-- The css style is in base.html -->
				{{ form.subject.errors }}

				<!-- here the id field "id_subject" comes from django's default handling. In a shell environment, when you do print(form.as_table), you will see the id for field "subject" is "id_subject", etc. -->
				<label for="id_subject">Subject:</label>

				<!-- below is the same as <input id="id_subject" name="subject" type="email" /> -->
				{{ form.subject }}
			</div><br>

			<div>
				{{ form.email.errors }}
				<label for="id_email">You email address:</label>
				{{ form.email }}
			</div><br>

			<div>
				{{ form.message.errors }}
				<label for="id_message">Message:</label>
				{{ form.message }}
			</div><br>

		</table>

		<!-- Must be included, otherwise 403 forbidden -->
		{% csrf_token %}
		<input type="submit" value="submit">
	</form>
{% endblock %}
