<!-- This is a template page based on Django Template Language (DTL) -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head>
	<!-- The first block, named 'title' -->
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<!-- a block named 'heading' -->
	{% block heading %}
	<h1>My helpful timestamp site</h1>
	{% endblock %}
	

	<!-- a block named 'content' -->
	{% block content %}{% endblock %}

	<!-- a block named 'footer', with default content -->
	{% block footer %}
	<hr>
	<p>Thanks for visiting my site.</p>
	{% endblock %}
</body>
</html>